In [1]:
import pandas as pd

In [7]:
pd.DataFrame({"yes": [50, 12, 23], "no": [12, 11, 12], "yes/no": [1,2,3,]}, index=["a", "b", "c"])

   yes  no  yes/no
a   50  12       1
b   12  11       2
c   23  12       3

In [10]:
pd.Series([1,2,3,], index=["2010", "2011", "2012", ], name="years")

2010    1
2011    2
2012    3
Name: years, dtype: int64